DATABASE_URL="postgresql://neon_user:neon_password@ep-neon-endpoint.region.aws.neon.tech/neon_db?sslmode=require"
MONGODB_URI="mongodb+srv://innova_backend:auto_generated_password@cluster0.mongodb.net/innova_telemetry_dev?retryWrites=true&w=majority"
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_REGION="us-east-1"
